Makefile
Makefile.am
Makefile.am.common
Makefile.in
aclocal.m4
config.cache
config.guess
config.h.in
config.log
config.status
config.sub
configure
configure.ac
depcomp
doc/
install-sh
missing
mkinstalldirs
stamp-h
isns.pot
autom4te.cache
*.ami
testsuite/*.exp
testsuite/*.log
testsuite/config/
testsuite/run/
testsuite/raw.tmp.*
testsuite/tmp.err.*
testsuite/tmp.out.*
testsuite/yast2-isns.sum
testsuite/yast2-isns.test/
.yardoc/
