[Desktop Entry]
Type=Application
Categories=Settings;System;Qt;X-SuSE-YaST;X-SuSE-YaST-Net_advanced;

X-KDE-ModuleType=Library
X-KDE-HasReadOnlyMode=true
X-SuSE-YaST-Call=isns

X-SuSE-YaST-Group=Net_advanced
X-SuSE-YaST-Argument=
X-SuSE-YaST-RootOnly=true
X-SuSE-YaST-AutoInst=all
X-SuSE-YaST-Geometry=
X-SuSE-YaST-SortKey=
X-SuSE-YaST-AutoInstResource=isns
X-SuSE-YaST-Keywords=internet,storage,name,network,server,devices,iscsi,scsi

Icon=yast-iscsi-server
Exec=xdg-su -c "/sbin/yast2 isns"

Name=iSNS Server
GenericName=Configure an iSNS server
