[Desktop Entry]
X-SuSE-DocTeamID=ycc_isns
Type=Application
Categories=Qt;X-SuSE-YaST;X-SuSE-YaST-Net_advanced;

X-KDE-ModuleType=Library
X-KDE-RootOnly=true
X-KDE-HasReadOnlyMode=true
X-KDE-Library=yast2
X-SuSE-YaST-Call=isns

X-SuSE-YaST-Group=Net_advanced
X-SuSE-YaST-Argument=
X-SuSE-YaST-RootOnly=true
X-SuSE-YaST-AutoInst=all
X-SuSE-YaST-Geometry=
X-SuSE-YaST-SortKey=
X-SuSE-YaST-AutoInstResource=isns

Icon=yast-iscsi-server
Exec=/sbin/yast2 isns 

Name=iSNS Server
GenericName=Configure an iSNS server
X-KDE-SubstituteUID=true

X-SuSE-translate=true
Name[cs]=iSNS
GenericName[cs]=Konfigurovat iSNS server
Name[da]=iSNS
GenericName[da]=Konfiguration af iSNS server
Name[de]=iSNS
GenericName[de]=Konfiguration eines iSNS server
Name[es]=iSNS
GenericName[es]=Permite configurar un iSNS server
Name[fi]=ISCSI-aloittaja
GenericName[fi]=Määritä iSNS
Name[fr]=iSNS
GenericName[fr]=Configurer un iSNS
Name[hu]=iSNS
GenericName[hu]=iSNS
GenericName[it]=Configura uno strumento di avvio iSNS
GenericName[ja]=iSNSイニシエータを設定する
Name[ko]=iSNS 이니시에이터
Name[pl]=Klient iSNS
GenericName[pl]=Konfiguracja klienta iSNS
Name[pt_BR]=iSNS
GenericName[pt_BR]=Configurar um iSNS
Name[zh_CN]=iSNS 启动程序
GenericName[zh_CN]=配置 iSNS 启动程序
Name[zh_TW]=iSNS 起始程式
GenericName[zh_TW]=設定 iSNS 起始程式
